.card {
  border: 1px solid #ddd;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s;
  max-width: 300px;
  width: 100%;
  margin: 10px;
}

.card:hover {
  transform: scale(1.05);
}

.card-img {
  width: 100%;
  height: auto;
}

.card-body {
  padding: 15px;
  text-align: center;
}

.card-title {
  margin: 10px 0;
  font-size: 1.3rem;
  text-align: left;
}

.card-description {
  margin: 10px 0;
  font-size: 1.30rem;
  text-align: left;
  font-weight: bold;
  color: purple;
}

.card-button {
  background-color: green;
  color: white;
  border: none;
  padding: 10px;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.2s;
  font-size: 15px;
}

.card-button:hover {
  background-color: #60c31e;
}
