* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
}

.header {
  position: fixed;
  top: 0;
  width: 100%;
  display: flex;
  align-items: center;
  padding: 5px 20px;
  background-color: #f8f8f8;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  z-index: 1000;
}

.logo img {
  height: 100px; 
}

.title {
  color: green;
  text-align: center;
  font-weight: bold;
  margin: 0;
  width: 100%;
}

.search-bar {
  position: relative;
  flex-grow: 1;
  display: flex;
  justify-content: center;
  margin: 0 20px
}

.search-bar input {
  padding: 8px 12px;
  padding-right: 40px;
  border: 1px solid purple;
  border-radius: 4px;
  font-size: 16px;
  width: 100%;
  max-width: 600px; 
}

.search-bar input:focus {
  outline: none;
  border-color: green; 
}

.search-icon {
  position: absolute;
  right: 505px; 
  top: 50%;
  transform: translateY(-50%);
  color: green;
  pointer-events: none; 
}

main {
  padding-top: 120px;
}

button {
  padding: 8px 12px;
  border: 1px solid purple;
  border-radius: 4px;
  font-size: 16px;
  max-width: 80px;
  color: green; 
}

button:hover {
  border-color: #007bff;
  cursor: pointer;
}

button#cart, button#login {
  padding: 8px 20px;
  font-size: 16px;
}
