* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
}

.header {
  position: fixed;
  top: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: #f8f8f8;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  z-index: 1000;
}

.logo img {
  height: 90px; 
}

.title {
  color: green;
  text-align: center;
  font-weight: bold;
  margin: 0;
  width: 100%;
}

.search-bar {
  position: relative;
  flex-grow: 1;
  display: flex;
  justify-content: flex-end;
  max-width: 300px; /* Limita a largura máxima da barra de pesquisa */
}

.search-bar input {
  padding: 8px 12px;
  padding-right: 30px; /* Espaço extra para o ícone */
  border: 1px solid purple;
  border-radius: 4px;
  font-size: 16px;
  width: 100%;
}

.search-bar input:focus {
  outline: none;
  border-color: green; 
}

.search-icon {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  color: green;
  pointer-events: none; 
}

main {
  padding-top: 120px;
}

button#cart {
  padding: 8px 10px;
  font-size: 16px;
}

button#login {
  padding: 8px 10px;
  font-size: 16px;
}