main {
  padding-top: 70px;
}

.main-content {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 20px;
  padding-top: 120px; /* Ajuste este valor conforme necessário para criar espaço entre o Header e os cards */
}

.card {
  flex: 1 0 21%; /* Flex-grow: 1, Flex-shrink: 0, Flex-basis: 21% */
  margin: 10px;
  max-width: 300px; /* Limita a largura máxima do card */
  box-sizing: border-box; /* Inclui padding e border no cálculo do tamanho do card */
}
