main {
  padding-top: 70px;
}

.main-content {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 20px;
  padding-top: 140px; 
}

.card {
  flex: 1 0 21%; 
  margin: 10px;
  max-width: 300px; 
  box-sizing: border-box; 
}