.name-input-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f2f2f2;
  padding-top: 60px; /* Adiciona espaçamento superior para evitar que a logo seja tampada pelo header */
}

form {
  background-color: #ffffff;
  padding: 2em;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 300px;
  height: auto; /* Ajuste automático da altura conforme o conteúdo */
  text-align: center;
  zoom: 130%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.login-logo {
  width: 150px; 
  margin-bottom: 16px;
  margin-top: 50px;
}

h2 {
  margin-bottom: 1em;
  color: green;
}

input#name,
input#email,
input#password {
  width: 100%;
  padding: 7px;
  margin: 0.5em 0;
  border: 1px solid purple;
  border-radius: 5px;
  box-sizing: border-box;
}

input#name:focus,
input#email:focus,
input#password:focus {
  outline: none;
  border-color: green;
}

button#next {
  width: 100%;
  padding: 8px 8px;
  margin-top: 15px;
  background-color: green;
  border: none;
  border-radius: 5px;
  color: white;
  font-size: 13px;
  cursor: pointer;
  font-family: Arial, Helvetica, sans-serif;
}

button#next:hover {
  background-color: #60c31e;
}

button#create {
  width: 100%;
  padding: 8px 8px;
  margin-top: 15px;
  background-color: green;
  border: none;
  border-radius: 5px;
  color: white;
  font-size: 13px;
  cursor: pointer;
  font-family: Arial, Helvetica, sans-serif;
}

button#create:hover {
  background-color: #60c31e;
}

a#createaccount {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 25px;
  margin-bottom: 20pX;
  font-size: 13px;
  text-decoration: none;
  color: green;

}

a#createaccount:hover {
  text-decoration: underline;
}